@{
    ViewData["Title"] = "Панель організації";
}

<header class="my-nav-pannel">
    <div class="my-title">
        <div class="my-title-icon">
            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1.344" transform="rotate(45)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.536"><defs><style>.a{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;}</style></defs><line class="a" x1="24" y1="31.89" x2="24" y2="16.11"></line><line class="a" x1="16.11" y1="24" x2="31.89" y2="24"></line><path class="a" d="M24,24c-4.84,4.84-8.48,6.88-8.48,11.72a8.53,8.53,0,1,0,17.05,0"></path><path class="a" d="M27.22,43.89a3.88,3.88,0,1,0-6.45,0"></path><path class="a" d="M24,24c4.84-4.84,8.48-6.88,8.48-11.72a8.53,8.53,0,1,0-17,0"></path><path class="a" d="M20.78,4.11a3.88,3.88,0,1,0,6.45,0"></path><path class="a" d="M24,24c-4.84-4.84-6.88-8.48-11.72-8.48a8.53,8.53,0,1,0,0,17.05"></path><path class="a" d="M4.11,27.22a3.88,3.88,0,1,0,0-6.45"></path><path class="a" d="M24,24c4.84,4.84,6.88,8.48,11.72,8.48a8.53,8.53,0,1,0,0-17"></path><path class="a" d="M43.89,20.78a3.88,3.88,0,1,0,0,6.45"></path></g><g id="SVGRepo_iconCarrier"><defs><style>.a{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;}</style></defs><line class="a" x1="24" y1="31.89" x2="24" y2="16.11"></line><line class="a" x1="16.11" y1="24" x2="31.89" y2="24"></line><path class="a" d="M24,24c-4.84,4.84-8.48,6.88-8.48,11.72a8.53,8.53,0,1,0,17.05,0"></path><path class="a" d="M27.22,43.89a3.88,3.88,0,1,0-6.45,0"></path><path class="a" d="M24,24c4.84-4.84,8.48-6.88,8.48-11.72a8.53,8.53,0,1,0-17,0"></path><path class="a" d="M20.78,4.11a3.88,3.88,0,1,0,6.45,0"></path><path class="a" d="M24,24c-4.84-4.84-6.88-8.48-11.72-8.48a8.53,8.53,0,1,0,0,17.05"></path><path class="a" d="M4.11,27.22a3.88,3.88,0,1,0,0-6.45"></path><path class="a" d="M24,24c4.84,4.84,6.88,8.48,11.72,8.48a8.53,8.53,0,1,0,0-17"></path><path class="a" d="M43.89,20.78a3.88,3.88,0,1,0,0,6.45"></path></g></svg>
        </div>
        <div class="my-title-info">
            <h2>Zdybanka</h2>
            <span>Знайди свою подію</span>
        </div>
    </div>
    <nav class="my-nav">
        <ul>
            <li class="my-nav-item">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>
                    <span>Профіль</span>
                </a>
            </li>
            <li class="my-nav-item">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
                    <span>Мої події</span>
                </a>
            </li>
            <li class="my-nav-item">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-column-icon lucide-chart-column"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="M18 17V9"/><path d="M13 17V5"/><path d="M8 17v-3"/></svg>
                    <span>Статистика</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main class="my-main">
    <div class="my-main-content">
        <h1>Головна сторінка організації</h1>
        <p>Тут буде відображатися основний контент для організації.</p>
    </div>

