@model Zdybanka.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Лист відправлено!";
    ViewData["Subtitle"] = "Перевірте вашу поштову скриньку";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="text-center mt-3">
    <div class="mb-4 text-success">
        <i class="fs-1 bi bi-envelope-check"></i>
    </div>
    <p class="mb-4 text-muted">
        Якщо ця адреса зареєстрована у нашій системі, ми надіслали на неї інструкції щодо зміни пароля. Будь ласка, перевірте папку "Спам", якщо не бачите листа.
    </p>
    <a asp-action="Login" class="w-100 auth-btn text-decoration-none d-inline-block pt-2">Повернутися до входу</a>
</div>
