@{
    ViewData["Title"] = "Відновлення завершено";
    ViewData["Subtitle"] = "Пароль змінено";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="text-center mt-3">
    <div class="mb-4 text-success">
        <i class="fs-1 bi bi-check-circle"></i>
    </div>
    <p class="mb-4 text-muted">
        Ваш пароль успішно змінено. Тепер ви можете увійти до свого акаунту з новим паролем.
    </p>
    <a asp-action="Login" class="w-100 auth-btn text-decoration-none d-inline-block pt-2">Увійти</a>
</div>
