@{
    ViewData["Title"] = "Головна";
}

<h1 class="display-4">Ласкаво просимо</h1>

<div class="mb-4">
    <a asp-controller="User_interface" asp-action="Index">Інтерфейс користувача</a> |
    <a asp-controller="Admin_interface" asp-action="Index">Інтерфейс адміністратора</a> |
    <a asp-controller="Organization_interface" asp-action="Index">Інтерфейс організації</a>
</div>

