@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>
<ul class="nav-bar">
    <li>
        <a href="~/Organizations">Organization</a>
    </li>
    <li>
        <a href="~/Changeshistories">Changes history</a>
    </li>
    <li>
        <a href="~/Eventcategories">Event category</a>
    </li>
    <li>
        <a href="~/Events">Events</a>
    </li>
    <li>
        <a href="~/Eventstatus">Event status</a>
    </li>
    <li>
        <a href="~/Organizationstatus">Organization status</a>
    </li>
    <li>
        <a href="~/Registrations">Registrations</a>
    </li>
    <li>
        <a href="~/Userfavorites">User favorites</a>
    </li>
    <li>
        <a href="~/Users">Users</a>
    </li>
</ul>

